<div class="row">
    <div class="col-md-12">
        <h5>Cartão de Crédito</h5>
        <form>
            <div class="form-group">
                <label class="mr-sm-2" for="matricula">Valor a ser depositado</label>
                <input type="text" name="matricula" placeholder="Digite o valor a ser depositado" required class="form-control" id="matricula">
            </div>
            <div class="form-group">
                <label class="mr-sm-2" for="senha">Número do cartão</label>
                <input type="text" name="senha" placeholder="Digite o número do cartão" required class="form-control" id="senha">
            </div>
            <div class="form-group">
                <label class="mr-sm-2" for="senha">Nome no cartão</label>
                <input type="text" name="senha" placeholder="Digite o nome no cartão" required class="form-control" id="senha">
            </div>
            <div class="form-row align-items-center">
                <div class="col-auto">
                  <label for="Validade">Validade</label>
                  <input type="text" class="form-control mb-3" id="Validade" placeholder="MM/AA">
                </div>
                <div class="col-auto">
                  <label for="codSeguranca">Código de segurança</label>
                  <div class="input-group">
                    <input type="text" class="form-control mb-3" id="codSeguranca" placeholder="Código de segurança">
                  </div>
                </div>
              </div>
            <button (click)="submit()" class="btn btn-primary btn-block">Efetuar Pagamento</button>
        </form>
    </div>
</div>